.DS_Store
Patches/VisionBundle_2.cables
Patches/mediaPipe_bundle/libs/mediapipe/
Patches/mediaPipe_bundle/models/
Patches/mediaPipe_bundle/ops/Ops.User.FaceLandmarker.standalone/
Patches/mediaPipe_bundle/ops/Ops.User.HandLandmarker.standalone/
Patches/mediaPipe_bundle/ops/Ops.User.PoseLandmarker.standalone/
Patches/mediaPipe_bundle/ops/Ops.User.MediaPipe.VisionBundle.zip
Patches/mediaPipe_bundle/mediapipe_bundle_test.cables
/reference/
/cables-develop
/cables_electron
/other_ops/
ops/index.html
ops/Ops.Local.Osc.OscSendArguments/node_modules
ops/Ops.Local.Fastify/node_modules
.antigravitycli/90d5c1d9-cc18-4c7d-9180-a409875e66ba.json
ops/Ops.Extension.Standalone.HttpFileServer/node_modules

uvc-util-master

# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Swift binaries
**/.build
micAudioTest.cables


desktopAudioCables


obs-studio-master


### LAN ###
cablesstudio_smb

### scratch
scratch
